@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.head{
    text-align: right;
    background: linear-gradient(to right,rgb(130, 13, 219), rgb(7, 227, 95));
    background-color: white;
    font-size: 24px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.heart-beat {
    width: 100px;
    height: 100px;
    animation: beating 0.8s infinite;
    font-size: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
}
.navbar-section{
    height: 70px;
    
}
.image{
    height: 65px;
    width: 65px;
    border-radius: 20px;

}
.home-block{
    margin-top: 10px;
}

.head-1{
    background: radial-gradient(rgb(229, 84, 5), rgb(59, 5, 254));
    background-color: white;
    font-size: 38px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-family: Outfit, sans-serif;
    font-style: normal;
    margin: 10px;

}
.pregnancycontainer{
    text-align: center;
    justify-content: center;
}
.head-2{
    color: rgb(83, 79, 90); /* Lighter blue text color */
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: 15px;


}
.chatbotbox{
    height: 100vh;
    width: 500px;



}
.todos-bg-container {
    background-color: #f9fbfe;
    height: 100vh;
  }
  
  .todos-heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 46px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .create-task-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
  }
  
  .create-task-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
  }
  
  .todo-items-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
  }
  
  .todo-items-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
  }
  
  .todo-items-container {
    margin: 0px;
    padding: 0px;
  }
  
  .todo-item-container {
    margin-top: 15px;
  }
  
  .todo-user-input {
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
  }
  
  .button {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .label-container {
    background-color: #e6f6ff;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
  }
  
  .checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
  }
  
  .checkbox-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
  }
  
  .delete-icon-container {
    text-align: right;
    width: 18%;
  }
  
  .delete-icon {
    padding: 15px;
  }
  
  .checked {
    text-decoration: line-through;
  }
  .todos-bg-container-1{
    background-color: #f9fbfef5;
    margin: 10px;
    font-family: 'Roboto';

  }
  .plan-bot{
    color:  #4c63b6;

  }
  .plan-des{
    color: #3b454a;
    font-family: 'Roboto';
    font-size: 14px;
    

  }

.explore-menu-section {
  background-color: white;
}
.menu-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.menu-item-image {
  border-radius: 16px;
}
.menu-card-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
}
.menu-item-link {
  color: #d0b200;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}
.menu-item-card {
  border-radius: 16px;
}
.footer-section {
    background-color: #0d2436;
  }
  .footer-section-mail-id {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
  }
  .footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 16px;
  }
  .food-munch-logo {
    width: 100px;
    height: 100px;
  }
.line{
    height: 0.5px;
    background-color: #e6f6ff;
    margin: 15px;

  }